<h1>Dodaj uporabnika:</h1>
<form action="/users/administration/create" method="post">
    <input type="text" name="email" placeholder="E-mail" required="">
    <input type="text" name="username" placeholder="Username" required="">
    <input type="password" name="password" placeholder="Password" required="">
    <input type="checkbox" name="isAdmin">
    <label for="isAdmin" > administrator</label>
    <input type="submit" value="ADD USER">
</form>
<br>
<br>
<hr>
<h2>Uporabniki:</h2>
<hr>
{{#each users}}
    <a href="/users/administration/edit/{{_id}}" class="btn btn-primary btn-md " role="button" aria-pressed="true">Uredi</a>
    <form action="/users/delete/{{_id}}" method="post">
        <input class="btn btn-primary btn-md " type="submit" value="Izbriši">
    </form>
    <p>Ime: {{username}}<br>
        Email: {{email}} <br>
        Je admin: {{#if isAdmin}}DA {{else}} NE{{/if}}</p>
    <hr>
{{/each}}
