<h2>Moji nabiralniki:</h2>
<hr>
{{#each mailboxes}}
    <a href="/mailbox/administration/edit/{{_id}}" class="btn btn-primary btn-md " role="button" aria-pressed="true">Uredi</a>
    <form action="/mailbox/delete/{{_id}}" method="post">
        <input class="btn btn-primary btn-md " type="submit" value="Izbriši">
    </form>
    <p>Lastnik: {{owner_id.username}}<br>
        Lokacija: {{location}} <br>
        Nazadnje dostopan: {{last_accessed}} <br>
        Zaklenjen: {{#if locked}}DA {{else}} NE{{/if}}</p>

    <hr>
{{/each}}