<h2>Moji nabiralniki:</h2>
<hr>
{{#each mailboxes}}
    <a href="/users/myMailboxes/edit/{{_id}}" class="btn btn-primary btn-md " role="button" aria-pressed="true">Uredi</a>
    <a href="/packageAccess/accessHistory/{{_id}}"  class="btn btn-primary btn-md " role="button" aria-pressed="true">Zgodovina dostopov</a>
    <p>Lastnik: {{owner_id.username}}<br>
        Koda : {{code}} <br>
        Lokacija: {{location}} <br>
        Nazadnje odklenjen: {{last_accessed_date}} <br>
        Zaklenjen: {{#if locked}}DA {{else}} NE{{/if}}</p>

    <hr>
{{/each}}